body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  
  .photobooth {
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffcc00;
  }
  
  .camera-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  video {
    border: 10px solid #333;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
  }
  
  .flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
  }
  
  .countdown {
    font-size: 48px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 20px;
  }
  
  .gallery {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    max-height: 100px;
    max-width: 230px;
    align-items: right;

  }
  
  .gallery img {
    border: 5px solid transparent;
    max-width: 100%;
  }
  
  .container{
    display: flex;
    flex-direction: row;
  }

  .controls {
    margin-top: 20px;
  }

  
  
  .styled-button {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    color: #1e1e1e;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .styled-button:hover {
    background-color: #e6b800;
  }
  
  .color-picker {
    margin-top: 20px;
  }
  
  @keyframes flash {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .flash {
    animation: flash 0.5s ease-in-out;
  }